body {
	font-family: "Baguet Script", cursive;
	background-color: white;
	text-align: center;
}

h1 {
	color: pink;
}

p {
	font-family: "Helvetica", sans-serif;
	font-size: 18px;
	color: blue;
}

img {
	width: 300px
	border-radius : 10px
}
