body {
	font-family: "Brush Script MT", cursive;
	background-color: pink;
	text-align: center;
}

h1 {
	font-family: "Brush Script MT", cursive;
	color: plum;
}

p {
	font-family: "Helvetica", cursive;
	font-size: 18px;
	color: LightYellow;
}

img {
	width: 300px
	border-radius : 10px
}
	
	border-radius : 10px
}
